.login-page {
  background: radial-gradient(#fff 0, #d4d4d4 80%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .p-float-label {
    margin: 20px 0px;
  }
  .errorMessage {
    color: $topbarItemBadgeBgColor;
    margin-top: -15px;
    display: block;
  }
  .errorInput {
    border: 1px solid $topbarItemBadgeBgColor !important;
  }
  .login-page-wrapper {
    background: #fff;
    position: fixed;
    padding: 0;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.33);
    min-width: 350px;
    .error-message {
      position: absolute;
      background: $topbarItemBadgeBgColor;
      color: #fff;
      z-index: 9999;
      padding: 10px 20px;
      font-size: 0.85em;
      top: 100%;
      width: 100%;
      left: 0;
      text-align: center;
    }
    .success-message {
      position: absolute;
      background: #3da370;
      color: #fff;
      z-index: 9999;
      padding: 10px 20px;
      font-size: 0.85em;
      top: 100%;
      width: 100%;
      left: 0;
      text-align: center;
    }
    .login-header {
      background: #0078d4;
      padding: 20px;
      text-align: center;

      .title {
        margin-top: 10px;
        color: #fff;
        font-weight: 400;
        font-style: italic;
        font-size: 0.9em;
      }
    }
    .login-content {
      padding: 40px 20px;
      .login-title {
        font-style: italic;
        font-size: 0.9em;
        text-align: center;
        margin-bottom: 10px;
        color: #a8a8a8;
      }
      .ms-TextField {
        margin-bottom: 10px !important;
      }
      input {
        width: 100%;
        padding: 5px;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        &:focus {
          border-bottom: 1px solid #0078d4;
        }
      }
      .forgot {
        a {
          font-size: 13px;
          color: #0089cc;
          font-weight: 400;
          text-align: center;
          display: block;
        }
      }
      button {
        background: #0089cc;
        display: block;
        margin: 10px auto 0;
        padding: 12px 15px;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        -webkit-transition: all 0.25s;
        width: 120px;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        border: 1px solid transparent;
        border-radius: 20px;
        &:hover {
          border: 1px solid #0078d4;
          background: 0 0;
          color: #0078d4;
        }
      }
      .password {
        position: relative;
        display: flex;
        align-items: center;
        i {
          position: absolute;
          top: 50%;
          margin-top: -10px;
          padding-left: 10px;
          left: 0;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          color: #0078d4;
        }
      }
      .username {
        position: relative;
        display: flex;
        align-items: center;
        i {
          position: absolute;
          top: 50%;
          margin-top: -10px;
          padding-left: 10px;
          left: 0;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          color: #0078d4;
        }
      }
    }
  }
}
